* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-family: Open-Sans, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--highlightColor: #7660ff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--backgroundColor: #121212;
		--textfieldColor: #1e1e1e;
		--fontColor: #f9f9f9;
		--borderColor: #c1c1c1;
		--titlebarColor: #2e2e2e;
		--hoverBtnColor: #565656;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--backgroundColor: white;
		--textfieldColor: white;
		--fontColor: black;
		--borderColor: gray;
		--titlebarColor: white;
		--hoverBtnColor: white;
	}
}

body {
	background-color: var(--backgroundColor);
	margin: 0;
	padding: 0;
	overflow: hidden;
}
